<section class="education section" id="education">
    <div class="container">
        <div class="title">
            <h2>Обучение</h2>
        </div>
     
        <div class="education__wrapper">
            <div class="education__swiper swiper">
                <div class="education__swiper-wrapper swiper-wrapper">
                    <div class="education__slide swiper-slide">
                        <article class="education-box">
                            <div class="education-box__image">
                                <img src="./img/education/img1.png" alt="">
                            </div>
                            <div class="education-box__title">
                                28 июня "Старение организма с точки зрения ТКМ. Применение фитопрепаратов ТКМ в пожилом возрасте".  Лектор Боровикова Л.В.
                            </div>
                            <div class="education-box__inner">
                                <div class="education-box__lector">
                                    <strong>Лектор</strong>
                                    <span>Боровикова Л.В.</span>
                                </div>
                                <div class="education-box__date">
                                    <strong>Дата</strong>
                                    <span>08.05-10.05.24</span>
                                </div>
                            </div>
                            <div class="education-box__block">
                                <a href="#" class="education-box__link">Подробнее</a>
                                <div class="education-box__status">Видеосеминар</div>
                            </div>
                        </article>
                    </div>
                    <div class="education__slide swiper-slide">
                        <article class="education-box">
                            <div class="education-box__image">
                                <img src="./img/education/img2.png" alt="">
                            </div>
                            <div class="education-box__title">
                                14 и 21 июня семинар "Традиционный китайский гуаша массаж".  Лектор Сюй Чэнь (КНР)
                            </div>
                            <div class="education-box__inner">
                                <div class="education-box__lector">
                                    <strong>Лектор</strong>
                                    <span>Сюй Чэнь.</span>
                                </div>
                                <div class="education-box__date">
                                    <strong>Дата</strong>
                                    <span>08.05-10.05.24</span>
                                </div>
                            </div>
                            <div class="education-box__block">
                                <a href="#" class="education-box__link">Подробнее</a>
                                <div class="education-box__status">Видеосеминар</div>
                            </div>
                        </article>
                    </div>
                    <div class="education__slide swiper-slide">
                        <article class="education-box">
                            <div class="education-box__image">
                                <img src="./img/education/img1.png" alt="">
                            </div>
                            <div class="education-box__title">
                                28 июня "Старение организма с точки зрения ТКМ. Применение фитопрепаратов ТКМ в пожилом возрасте".  Лектор Боровикова Л.В.
                            </div>
                            <div class="education-box__inner">
                                <div class="education-box__lector">
                                    <strong>Лектор</strong>
                                    <span>Боровикова Л.В.</span>
                                </div>
                                <div class="education-box__date">
                                    <strong>Дата</strong>
                                    <span>08.05-10.05.24</span>
                                </div>
                            </div>
                            <div class="education-box__block">
                                <a href="#" class="education-box__link">Подробнее</a>
                                <div class="education-box__status">Видеосеминар</div>
                            </div>
                        </article>
                    </div>
                    <div class="education__slide swiper-slide">
                        <article class="education-box">
                            <div class="education-box__image">
                                <img src="./img/education/img2.png" alt="">
                            </div>
                            <div class="education-box__title">
                                14 и 21 июня семинар "Традиционный китайский гуаша массаж".  Лектор Сюй Чэнь (КНР)
                            </div>
                            <div class="education-box__inner">
                                <div class="education-box__lector">
                                    <strong>Лектор</strong>
                                    <span>Сюй Чэнь.</span>
                                </div>
                                <div class="education-box__date">
                                    <strong>Дата</strong>
                                    <span>08.05-10.05.24</span>
                                </div>
                            </div>
                            <div class="education-box__block">
                                <a href="#" class="education-box__link">Подробнее</a>
                                <div class="education-box__status">Видеосеминар</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="education__left">
                <div class="pagination education__pagination">
                    <div class="pagination__arrows  education__arrows">
                        <div class="pagination__prev  education__prev">
                            <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 29L1 15L15 1" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </div>
                        <div class="pagination__next education__next">
                            <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L15 15L1 29" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="education__scroll">
            <button class="education__scroll-bottom">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 1L15 15L1 0.999999" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="education__scroll-top">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 15L15 1L29 15" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</section>