<section class="focal section"  id="focal">
    <div class="container">
        <div class="focal__title">
            традиционная китайская медицина
        </div>
        <div class="focal__wrapper">
            <a href="#" class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img1.png" alt="">
                </div>
                <div class="focal__box-title">Фитопрепараты</div>
                <div class="focal__box-hover">
                    <div class="focal__box-hover-image">
                        <img src="./img/focal/hover1.png" alt="">
                    </div>
                    <div class="focal__box-hover-text">
                        <strong>Фитопрепараты</strong>
                        <span>В нашем магазине представлено более 2000 сертифицированных товаров</span>
                    </div>
                </div>
            </a>
           
                
            <a href="#" class="focal__title-big">традиционная китайская медицина</a>
           
            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img2.png" alt="">
                </div>
                <div class="focal__box-title">Мед.центр</div>
                <div class="focal__box-hover">
                    <div class="focal__box-hover-image">
                        <img src="./img/focal/hover2.png" alt="">
                    </div>
                    <div class="focal__box-hover-text">
                        <strong>Мед.центр</strong>
                        <span>Практическое использование методов и средств КМ в клинической деятельности</span>
                    </div>
                </div>
            </a>

            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img3.png" alt="">
                </div>
                <div class="focal__box-title">Литература</div>

                <div class="focal__box-hover">
                    <div class="focal__box-hover-image">
                        <img src="./img/focal/hover3.png" alt="">
                    </div>
                    <div class="focal__box-hover-text">
                        <strong>Литература</strong>
                        <span>В разделе литературы собраны лучшие книги по восточной медицине</span>
                    </div>
                </div>
            </a>
            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img4.png" alt="">
                </div>
                <div class="focal__box-title">Обучение</div>

                <div class="focal__box-hover">
                    <div class="focal__box-hover-image">
                        <img src="./img/focal/hover4.png" alt="">
                    </div>
                    <div class="focal__box-hover-text">
                        <strong>Обучение</strong>
                        <span>Обучение в  адаптированном для российских специалистов виде</span>
                    </div>
                </div>
            </a>
            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img5.png" alt="">
                </div>
                <div class="focal__box-title">Акупунктура</div>
                <div class="focal__box-hover">
                    <div class="focal__box-hover-image">
                        <img src="./img/focal/hover5.png" alt="">
                    </div>
                    <div class="focal__box-hover-text">
                        <strong>Акупунктура</strong>
                        <span>В нашем медцентре работают одни из лучших специалистов по иглоукалыванию </span>
                    </div>
                </div>
            </a>
        </div>
        <button class="focal__scroll">
            <div class="focal__scroll-box">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 1L15 15L1 0.999999" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
           
                
        </button>
    </div>
</section>