<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <button class="header__burger">
                <div class="header__burger-icon">
                    <svg viewBox="0 0 38 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="37.911" height="2" fill="#2F80ED" />
                        <rect x="0.0585938" y="7" width="37.911" height="2" fill="#2F80ED" />
                        <rect x="0.0898438" y="15" width="37.911" height="2" fill="#2F80ED" />
                    </svg>
                </div>
                <div class="header__burger-text">МЕНЮ</div>
            </button>
            <div class="custom-select">
                <div class="custom-select__trigger">
                    <span>Выбрать квартиру</span>
                    <div class="arrow"></div>
                </div>
                <div class="custom-select__options">
                    <div class="custom-select__option" data-value="1">Опция 1</div>
                    <div class="custom-select__option" data-value="2">Опция 2</div>
                    <div class="custom-select__option" data-value="3">Опция 3</div>
                </div>
            </div>
            <a href="#" class="header__logo">
                <img src="./images/logo.svg" alt="">
            </a>
            <div class="header__relations">
                <a href="#" class="header__phone">
                    +7 495 527 21 21
                </a>
                <button class="header__call">
                    <div class="header__call-text">
                        
                    </div>
                    <div class="header__call-icon">
                        ЗАКАЗАТЬ ЗВОНОК
                    </div>
                </button>
            </div>


        </div>
    </div>
</header>