<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <div class="header__inner-block">
                <ul class="header__data">
                    <li class="header__data-item">
                        <span>Москва и МО</span> <a href="#">8(499)938-99-50</a>
                        <ul class="header__data-block">
                            <li><span>Санкт-Петербург</span> <a href="#">8(812)467-39-93</a></li>
                            <li><span>Регионы России</span> <a href="#">8(800)333-95-53</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header__inner-date">
                Пн-сб 9:00-21:00, вс 9:00-18:00
            </div>
        </div>
        <div class="header__wrapper">
            <ul class="header__lists-left">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Мед. центр</a></li>
                <li><a href="#">Обучение</a></li>
            </ul>
            <a href="#" class="header__logo">
                <img src="./img/logo/logo.svg" alt="">
            </a>
            <ul class="header__lists-right">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="header__wrapper-block">
                <button class="header__search">
                    <img src="./img/logo/search.svg" alt="">
                </button>
                <button class="header__user">
                    <img src="./img/logo/user.svg" alt="">
                </button>
                <button class="header__basket">
                    <img src="./img/logo/bag.svg" alt="">
                </button>
            </div>
        </div>
        <div class="header__wrapper-mob">
            <button class="header__burger">
                <svg  viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L33 1" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M1 11L33 11" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M1 21L33 21" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
            </button>
            <a href="#" class="header__logo">
                <img src="./img/logo/logo.svg" alt="">
            </a>
            <button class="header__basket">
                <img src="./img/logo/bag.svg" alt="">
            </button>
        </div>
    </div>
</header>