<section class="news section " id="news">
    <div class="container">
        <div class="title">
            <h2>Новости</h2>
            <a href="#" class="all-btn">
                <span>Читать все</span>
                <div class="all-btn__arrow">
                    <svg  viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.27344 1.54517L12.728 12.9997L1.27344 24.4543" stroke="#840D06" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                        
                </div>
            </a>
        </div>
        <div class="news__wrapper">
            <div class="news__left">
                <div class="pagination news__pagination">
                    <div class="pagination__arrows  news__arrows">
                        <div class="pagination__prev  news__prev">
                            <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 29L1 15L15 1" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </div>
                        <div class="pagination__next news__next">
                            <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L15 15L1 29" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__right">
                <div class="news__swiper swiper">
                    <div class="news__swiper-wrapper swiper-wrapper">
                        <div class="news__slide swiper-slide">
                            <article class="news-box">
                                <div class="news-box__wrapper">
                                    <div class="news-box__left">
                                        <div class="news-box__category">Семинар</div>
                                        <div class="news-box__title">Семинар Терапевтический цигун </div>
                                        <div class="news-box__text">Цигун Лу Йонг– это форма терапевтического или оздоровительного цигуна. Цигун возник несколько тысяч лет назад, и его цель – восстановление гармоничной циркуляции энергии в энергетической системе человека.</div>
                                        <a href="#" class="news-box__link">Читать </a>
                                    </div>
                                    <div class="news-box__right">
                                        <div class="news-box__image">
                                            <img src="./img/news/news.png" alt="">
                                            <div class="news-box__status">
                                                Запись
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="news__slide swiper-slide">
                            <article class="news-box">
                                <div class="news-box__wrapper">
                                    <div class="news-box__left">
                                        <div class="news-box__category">Семинар</div>
                                        <div class="news-box__title">Семинар Терапевтический цигун </div>
                                        <div class="news-box__text">Цигун Лу Йонг– это форма терапевтического или оздоровительного цигуна. Цигун возник несколько тысяч лет назад, и его цель – восстановление гармоничной циркуляции энергии в энергетической системе человека.</div>
                                        <a href="#" class="news-box__link">Читать </a>
                                    </div>
                                    <div class="news-box__right">
                                        <div class="news-box__image">
                                            <img src="./img/news/news.png" alt="">
                                            <div class="news-box__status">
                                                Запись
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news__scroll">
            <button class="news__scroll-bottom">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 1L15 15L1 0.999999" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="news__scroll-top">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 15L15 1L29 15" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</section>