<section class="partners section" id="partners">
    <div class="container">
        <div class="title">
            <h2>Наши партнёры</h2>
            <p>Китайская и Западная медицины прекрасно дополняют друг друга. Наша цель — на основе мирового опыта по адаптации китайской медицины к западному образу мышления сделать методы и средства китайской медицины (КМ) доступными для понимания российскими специалистами, имеющими классическое медицинское образование.</p>
        </div>
       
        <div class="partners__wrapper">
            <div class="partners__swiper swiper">
                <div class="partners__swiper-wrapper swiper-wrapper">
                    <div class="partners__slide swiper-slide">
                        <article class="partners-box">
                            <div class="partners-box__wrapper">
                                <div class="partners-box__left">
                                    <div class="partners-box__image">
                                        <img src="./img/partners/img1.png" alt="">
                                    </div>
                                </div>
                                <div class="partners-box__right">
                                    <div class="partners-box__text">Профессиональная ассоциация рефлекотерапевтов</div>
                                    <a href="#" class="partners-box__link">Подробнее</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <article class="partners-box">
                            <div class="partners-box__wrapper">
                                <div class="partners-box__left">
                                    <div class="partners-box__image">
                                        <img src="./img/partners/img2.png" alt="">
                                    </div>
                                </div>
                                <div class="partners-box__right">
                                    <div class="partners-box__text">Ассоциация производителей и потребителей традиционных растительных лекарственных средств</div>
                                    <a href="#" class="partners-box__link">Подробнее</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="partners__slide swiper-slide">
                        <article class="partners-box">
                            <div class="partners-box__wrapper">
                                <div class="partners-box__left">
                                    <div class="partners-box__image">
                                        <img src="./img/partners/img1.png" alt="">
                                    </div>
                                </div>
                                <div class="partners-box__right">
                                    <div class="partners-box__text">Профессиональная ассоциация рефлекотерапевтов</div>
                                    <a href="#" class="partners-box__link">Подробнее</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
              
            </div>
            <div class="pagination partners__pagination">
                <div class="pagination__arrows  partners__arrows">
                    <div class="pagination__prev  partners__prev">
                        <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 29L1 15L15 1" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                    </div>
                    <div class="pagination__next partners__next">
                        <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L15 15L1 29" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="partners__scroll">
            <button class="partners__scroll-bottom">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 1L15 15L1 0.999999" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="partners__scroll-top">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 15L15 1L29 15" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</section>