<section class="projects section" id="projects">
    <div class="container">
        <div class="title">
            <h2>Проекты</h2>
            <p>Компания «СИНОФАРМ» на протяжении 9 лет успешно занимается развитием и продвижением Традиционной Китайской Медицины на российский рынок. Нашей уникальной разработкой является программный продукт «ТКМ Эксперт». Наша цель — сделать методы и средства китайской медицины (КМ) доступными для понимания российскими специалистами.</p>
        </div>
      
        <div class="projects__wrapper">
            <div class="projects__swiper swiper">
                <div class="projects__swiper-wrapper swiper-wrapper">
                    <div class="projects__slide swiper-slide">
                        <article class="projects-box">
                            <div class="projects-box__wrapper">
                                <div class="projects-box__left">
                                    <div class="projects-box__image">
                                        <img src="./img/projects/img1.png" alt="">
                                    </div>
                                </div>
                                <div class="projects-box__right">
                                    <div class="projects-box__text">Создание рынка услуг по сохранению здоровья граждан РФ, в том числе методами и средствами традиционной китайской медицины</div>
                                    <a href="#" class="projects-box__link">Подробнее</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="projects__slide swiper-slide">
                        <article class="projects-box">
                            <div class="projects-box__wrapper">
                                <div class="projects-box__left">
                                    <div class="projects-box__image">
                                        <img src="./img/projects/img2.png" alt="">
                                    </div>
                                </div>
                                <div class="projects-box__right">
                                    <div class="projects-box__text">Возрождение отрасли лекарственного растениеводства и производства концентрированных жидких, сухих и гранулированных экстрактов ТРЛС</div>
                                    <a href="#" class="projects-box__link">Подробнее</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="projects__slide swiper-slide">
                        <article class="projects-box">
                            <div class="projects-box__wrapper">
                                <div class="projects-box__left">
                                    <div class="projects-box__image">
                                        <img src="./img/projects/img1.png" alt="">
                                    </div>
                                </div>
                                <div class="projects-box__right">
                                    <div class="projects-box__text">Профессиональная ассоциация рефлекотерапевтов</div>
                                    <a href="#" class="projects-box__link">Подробнее</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="pagination projects__pagination">
                <div class="pagination__arrows  projects__arrows">
                    <div class="pagination__prev  projects__prev">
                        <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 29L1 15L15 1" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                    </div>
                    <div class="pagination__next projects__next">
                        <svg  viewBox="0 0 16 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L15 15L1 29" stroke="#6D6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects__scroll">
            <button class="projects__scroll-bottom">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 1L15 15L1 0.999999" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="projects__scroll-top">
                <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 15L15 1L29 15" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</section>