@font-face {
    font-family: 'Proun';
    src: url('Prounbc.eot');
    src: local('Proun'), local('Proun'),
        url('../fonts/proun-bold.woff2') format('woff2'),
        url('../fonts/proun-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

