<section class="main">
    <div class="container">
        <div class="main__wrapper">
            <div class="main__image">
                <img class="desk" src="./images/main/banner.png" alt="">
                <img class="tablet" src="./images/main/bannerp.png" alt="">
                <img class="mob" src="./images/main/bannerm.png" alt="">
            </div>
            <div class="main__title">
                <div class="main__title-text">
                    Дом бизнес-класса
                    для ценителей роскоши
                </div>
                <div class="main__title-logo">
                    <img src="./images/INCHAPIN.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>